 <!--Footer-->
        <div class="footer-basic">
            <footer>
                <div class="social"><a href="#"><i class="icon ion-social-instagram"></i>
                </a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#">
                    <i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook">

                    </i></a></div>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">Inicio</a></li>
                    <li class="list-inline-item"><a href="#">Nosotros</a></li>
                    <li class="list-inline-item"><a href="#">Proyectos</a></li>
                    <li class="list-inline-item"><a href="#">Conctactos</a></li>
                    <li class="list-inline-item"><a href="#">Servicios</a></li>
                </ul>
                <p class="copyright">Súper Illistratos © 2021</p>
            </footer>
        </div>