   <br><br><br><br>
   <div class="BodyContacto">
    <div class="content">

        <h1 class="logo">Formulario <span>Contacto</span></h1>
        <hr id="hrcontacto">

        <div class="contact-wrapper animated bounceInUp">
            <div class="contact-form">
                <h3>Contactanos</h3>
                <form action="/contacto" method="POST">
                    <p>
                        <label>Nombre</label>
                        <input type="text" name="fullname">
                    </p>
                    <p>
                        <label>E-mail</label>
                        <input type="email" name="email">
                    </p>
                    <p>
                        <label>Número de télefono</label>
                        <input type="tel" name="phone">
                    </p>
                    <p>
                        <label>Empresa (Opcional)</label>
                        <input type="text" name="empresa">
                    </p>
                    <p>
                        <label>Asunto</label>
                        <input type="text" name="asunto">
                    </p>
                    <p class="block">
                       <label>Escribenos un mensaje</label> 
                        <textarea name="message" rows="3"></textarea>
                    </p>
                    <p class="block">

                        <button>Enviar</button>
                    </p>
                </form>
            </div>
            <div class="contact-info">
                <h4>Más Información.</h4>
                <ul>
                    <li><i class="fas fa-map-marker-alt"></i> Santo Domingo Oeste</li>
                    <p></p>
                    <li><i class="fas fa-phone"></i> (809) 577 1419</li>
                    <p></p>
                    <li><i class="fas fa-envelope-open-text"></i> superillustrators@gmail.com</li>
                </ul>
                <p>Este es el formulario de contactos de nuestra página web, aquí podrás ponerte al día
                   con nosotros. <br> <br> Si gustas aportar algo a nuestros servicios, tienes alguna duda sobre 
                   algo de nuestro sitio, o simplemente proponer algo, puedes hacerlo mediante este formulario.
                   (Es primordal que todos los campos).
                </p>

                <p>Superillustrators.com</p>
            </div>
        </div>

    </div>
    
    </div>
    
   