 <!--Nosotros-->
    <br><br><br>
    <div class="bodyNosotros">
    <section class="acerda-de">
        <div class="info-container">
            <h1 id="Nosotros-1">Nosotros</h1>
            <hr id="hrN">
            <p id="p-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore assumenda,
             ullam accusantium iure minus, dolorum, omnis inventore tempore illum eius recusandae unde 
             dolorem fuga perspiciatis nemo quod architecto fugit dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
             Sapiente quod maxime enim, illo distinctio maiores corrupti dolor amet molestiae quia excepturi asperiores, temporibus in labore.
             Tempore ipsa pariatur eveniet omnis. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat voluptate hic ipsa dolorem nesciunt
             minima ratione. Est corrupti animi dignissimos dolorum, ad consectetur accusantium aut maiores officiis inventore quisquam cumque.</p>
             
             <p id="p-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore eum velit doloremque voluptatem, est quo eveniet delectus,
            consectetur, nostrum sequi ducimus dolorem quidem at cupiditate. Voluptate necessitatibus sapiente alias labore. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Dolorem tempore saepe at aliquid est repellat quod maiores adipisci voluptatum qui a ratione ipsum repellendus
            numquam illo, recusandae ea delectus. Obcaecati!</p>

             <p id="p-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aspernatur modi soluta.
            Rem et eaque esse eos voluptatibus atque reiciendis, magni natus, perspiciatis eum ullam odit error molestias,
            ipsum sapiente. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere rerum illum labore nisi velit voluptatem nobis
            natus minima incidunt a ratione exercitationem inventore molestias nulla, vel corrupti at cupiditate voluptatibus. Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Veniam fugiat rem modi. Perferendis repellat beatae eaque, qui expedita eos molestias nihil modi debitis 
            officia, quae voluptas ipsum voluptate autem ratione.</p>
                <br><br>

                <h1 id="Nosotros-1">Visión</h1>
            <hr id="hrN">
            <p id="p-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore assumenda,
             ullam accusantium iure minus, dolorum, omnis inventore tempore illum eius recusandae unde 
             dolorem fuga perspiciatis nemo quod architecto fugit dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
             Sapiente quod maxime enim, illo distinctio maiores corrupti dolor amet molestiae quia excepturi asperiores, temporibus in labore.
            Tempore ipsa pariatur eveniet omnis. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat voluptate hic ipsa dolorem nesciunt
             minima ratione. Est corrupti animi dignissimos dolorum, ad consectetur accusantium aut maiores officiis inventore quisquam cumque.</p>

             <p id="p1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore eum velit doloremque voluptatem, est quo eveniet delectus,
            consectetur, nostrum sequi ducimus dolorem quidem at cupiditate. Voluptate necessitatibus sapiente alias labore. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Dolorem tempore saepe at aliquid est repellat quod maiores adipisci voluptatum qui a ratione ipsum repellendus
            numquam illo, recusandae ea delectus. Obcaecati!</p>

             <p id="p-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aspernatur modi soluta.
            Rem et eaque esse eos voluptatibus atque reiciendis, magni natus, perspiciatis eum ullam odit error molestias,
            ipsum sapiente. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere rerum illum labore nisi velit voluptatem nobis
            natus minima incidunt a ratione exercitationem inventore molestias nulla, vel corrupti at cupiditate voluptatibus. Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Veniam fugiat rem modi. Perferendis repellat beatae eaque, qui expedita eos molestias nihil modi debitis 
            officia, quae voluptas ipsum voluptate autem ratione.</p>
            <br><br>

        
            <h1 id="Nosotros-1">Misión</h1>
            <hr id="hrN">
            <p id="p-1">Nuestra misión es poder garantizar una grata experiencia para todas las personas 
            que usen nuestra página, pues aquí en "Súper Illustrators" creemos que el arte es un metodo de
            expresión, por lo que encontrar arte de otros artistas, informar sobre está y demás es nuestro
            deber.
            </p>

            <h1 id="Nosotros-1">Valores</h1>
            <hr id="hrN">
            <p id="p-1">En esta empresa, el liderazgo, la responsabilidad, integridad, pasión, diversidad y calidad
            son esenciales para nosotros, ya que estos valores definen esta empresa. 
            </p>
            </div>