        <!--IMG Header-->

        <div class="img-header">
            <div class="welcome">
                <h1>Bienvenidos a Súper Illustrators</h1>
                <hr> <br>
                <p>Somos una Página Web Especializada en el Arte Web</p>
               <button id="Pabajo">Leer Más</button>
            </div>
        </div>

    </header>

    <!--Nosotros-->
    <br><br><br><br>
    <section class="acerda-de">
        <div class="info-container">
            <h1 id="Nosotros-1">Nosotros</h1>
            <hr id="hrN">
            <p id="p1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore assumenda,
             ullam accusantium iure minus, dolorum, omnis inventore tempore illum eius recusandae unde 
             dolorem fuga perspiciatis nemo quod architecto fugit dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
             Sapiente quod maxime enim, illo distinctio maiores corrupti dolor amet molestiae quia excepturi asperiores, temporibus in labore.
            Tempore ipsa pariatur eveniet omnis. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat voluptate hic ipsa dolorem nesciunt
             minima ratione. Est corrupti animi dignissimos dolorum, ad consectetur accusantium aut maiores officiis inventore quisquam cumque.</p>

             <p id="p1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore eum velit doloremque voluptatem, est quo eveniet delectus,
            consectetur, nostrum sequi ducimus dolorem quidem at cupiditate. Voluptate necessitatibus sapiente alias labore. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Dolorem tempore saepe at aliquid est repellat quod maiores adipisci voluptatum qui a ratione ipsum repellendus
            numquam illo, recusandae ea delectus. Obcaecati!</p>

             <p id="p1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aspernatur modi soluta.
            Rem et eaque esse eos voluptatibus atque reiciendis, magni natus, perspiciatis eum ullam odit error molestias,
            ipsum sapiente. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere rerum illum labore nisi velit voluptatem nobis
            natus minima incidunt a ratione exercitationem inventore molestias nulla, vel corrupti at cupiditate voluptatibus. Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Veniam fugiat rem modi. Perferendis repellat beatae eaque, qui expedita eos molestias nihil modi debitis 
            officia, quae voluptas ipsum voluptate autem ratione.</p>

             <div class="about-gallery"></div>
                <img src="Imagenes/13.jpg" alt="" id="Img-g">
                <br>
                <img src="Imagenes/14.jpg" alt="" id="Img-g">
                <br>
                <img src="Imagenes/15.jpg" alt="" id="Img-g">
        </div>

        <div class="about-more"><button>Leer Más</button></div>

        <!--Proyectos-->
        <section class="N-proyect">
            <div class="deg-bk"></div>

            <div class="ejezproyect">
                <div class="Container-P">
                    <div class="proyect-title">
                        <h2 id="NP-1">Nuestros Proyectos</h2>
                        <hr id="hr-P">
                    </div>

                    <div class="proyect-img">
                        <img id="imgP" src="Imagenes/1.jpg" alt="">
                        <img id="imgP" src="Imagenes/10.jpg" alt="">
                        <img id="imgP" src="Imagenes/21.jpg" alt="">
                        <img id="imgP" src="Imagenes/6.jpg" alt="">
                        <img id="imgP" src="Imagenes/18.jpg" alt="">
                        <img id="imgP" src="Imagenes/20.jpg" alt="">
                        <img id="imgP" src="Imagenes/8.jpg" alt="">
                        <img id="imgP" src="Imagenes/22.jpg" alt="">
                        <img id="imgP" src="Imagenes/23.jpg" alt="">
                    </div>

                </div>
            </div>
        </section>

       
       