<!--Proyectos-->
        <br><br>
        <section class="N-proyect">
            <div class="deg-bk"></div>

            <div class="ejezproyect">
                <div class="Container-P">
                    <div class="proyect-title">
                        <h2 id="NP-1">Nuestros Proyectos</h2>
                        <hr id="hr-P">
                    </div>
                    <br><br>
                    <p id="P-P1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur
                     eveniet exercitationem vitae, perspiciatis blanditiis ex minus quo quisquam eum beatae,
                     ea rerum dolor hic placeat. Quo omnis repellat accusamus modi. Lorem ipsum dolor sit amet
                     consectetur adipisicing elit. Neque alias quae repellendus quo tempora accusamus. Blanditiis
                     cupiditate veritatis nihil deleniti doloribus ea provident. Laborum officia impedit dicta sequi 
                     quae! Ea!</p>

                     <p id="P-P1"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eligendi id, quos atque
                      officia vitae dolore unde libero nihil ipsa. Eligendi, quasi quisquam. Quas incidunt, provident doloremque 
                      cupiditate vero in? Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ab, dolorem omnis consectetur,
                      et tenetur unde ipsa possimus, odio amet fugit quibusdam iste consequuntur. Officia corrupti error earum ab ducimus!</p>
                        <br>
                        
                    <div class="proyect-img">
                        <img id="imgP" src="Imagenes/1.jpg" alt="">
                        <img id="imgP" src="Imagenes/10.jpg" alt="">
                        <img id="imgP" src="Imagenes/21.jpg" alt="">
                        <img id="imgP" src="Imagenes/6.jpg" alt="">
                        <img id="imgP" src="Imagenes/18.jpg" alt="">
                        <img id="imgP" src="Imagenes/20.jpg" alt="">
                        <img id="imgP" src="Imagenes/8.jpg" alt="">
                        <img id="imgP" src="Imagenes/22.jpg" alt="">
                        <img id="imgP" src="Imagenes/23.jpg" alt="">
                    </div>

                    <div class="proyect-img">
                        <img id="imgP" src="Imagenes/26.jpg" alt="">
                        <img id="imgP" src="Imagenes/34.jpg" alt="">
                        <img id="imgP" src="Imagenes/2.jpg" alt="">
                        <img id="imgP" src="Imagenes/28.jpg" alt="">
                        <img id="imgP" src="Imagenes/19.jpg" alt="">
                        <img id="imgP" src="Imagenes/18.jpg" alt="">
                        <img id="imgP" src="Imagenes/25.jpg" alt="">
                        <img id="imgP" src="Imagenes/7.jpg" alt="">
                        <img id="imgP" src="Imagenes/29.jpg" alt="">
                    </div>

                </div>
            </div>
        </section>
